# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
data/
parti1-img/
parti2-img/
parti3-img/
rapport_partie1.py
rapport_partie2.py
rapport_partie3.py
presentation_projet.py

# Generated Reports
*.pdf

# Models
*.pt
*.onnx
backend/models/
models/
yolov8n.pt

# OS
.DS_Store
Thumbs.db
